.game-board {
  background-color: white; 
  width: 426px; 
  height: 426px;
}

.sudoku-grid {
 display: grid;
 width: 426px;
 height: 426px;
 grid-template-columns: repeat(9, 1fr);
 grid-template-rows: repeat(9, 1fr);
 border: 2px solid black;
 border-right: none;
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
  vertical-align: middle;
  font-size: 24px;
}

.sudoku-cell.right-border {
  border-right: 1px solid #325aaf;
}

.sudoku-cell.left-border {
  border-left: 1px solid #325aaf;
}
.sudoku-cell.top-border {
  border-top: 1px solid #325aaf;
}

.sudoku-cell.bottom-border {
  border-bottom: 1px solid #325aaf;
}

.sudoku-cell:nth-child(3n) {
  border-right: 2px solid black;
}

.sudoku-cell:nth-child(n + 19):nth-child(-n + 27),
.sudoku-cell:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 2px solid black;
}

.sudoku-cell.selected {
  background-color: #f0f8ff;
}