body {
  font-family: Arial;
  padding: 5px;
}

.game-wrapper {
  display: flex;
  width: 730px;
  justify-content: space-between;
}

.diff-buttons {
  margin-bottom: 8px;
  padding: 0px 5px;
  width: 426px;
}

.difficulty-button {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  padding: 7px 7px;
  width: 70px;
  font-weight: bold;
}

.difficulty-button:hover {
  cursor: pointer;
}

.difficulty-button.active {
  border: none;
  color: white;
  background-color: #325aaf;
}